{% extends 'base.html.twig' %}
{% block body %}

    {% for msg in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            {{ msg }}
        </div>
    {% endfor %}

{{ form_start(playerForm) }}
    {{ form_widget(playerForm) }}
    <input type="submit" value="Register">
{{ form_end(playerForm) }}

{% endblock %}